<%- include('./partials/head'); -%>
<%- include('./partials/titrePrincipal'); -%>

<div class="container">
    <h2>Oups! Erreur!</h2>
    <img src="/image/404.png">
    <a href="/" class="link">Retour à la page principale</a>
</div>

<%- include('./partials/footer'); -%>
